<fieldset class="idea-list-section" data-ng-init="initList()" data-ng-hide="ui.parentIdea">
  <legend>Idea Repo</legend>

    <div class="form-group">
      <label for="selectedCategory">Category</label>
      <select class="form-control" id="selectedCategory" data-ng-model="ui.selectedCategory" data-ng-change="categoryChange()">
        <option data-ng-repeat="item in ui.categoryItemsWithAll" value="{{item.key}}" data-ng-selected="item.key ===  ui.selectedCategory">
          {{item.value}}
        </option>
      </select>
    </div>

<div class="panel panel-default" data-ng-repeat="idea in ui.ideaList">
  <div class="panel-body">
    <div data-cdk-idea-tree data-ng-model="idea"></div>
  </div>
</div>


</fieldset> 

<fieldset class="idea-add-section" data-ng-show="ui.parentIdea">
<!-- FIXME duplicate cade see add.html-->
  <legend >Reply Idea</legend>

  <div class="panel panel-default">
    <div class="panel-body">
      <div data-cdk-idea-tree data-ng-model="ui.parentIdea" data-hide-reply="true"></div>
    </div>
  </div>
  
  <form name="form">
    <div class="form-group" data-ng-class="{'has-error' : form.title.$invalid}">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Title" data-ng-model="model.title" data-ng-required="true"/>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <!-- <textarea class="form-control" id="description" placeholder="Description" rows="5" data-ng-model="model.description"></textarea> -->
      <div id="description" data-text-angular data-ng-model="model.description"></div>
      <span class="small text-danger">* Feel free to mention your full name in the description to enable folks to get in touch with you.</span>
    </div>

    <button type="submit" class="btn btn-success" data-ng-click="addUpdateIdea()" data-ng-disabled="!form.$valid">Submit</button>
    <button type="submit" class="btn btn-default" data-ng-click="initList()">Cancel</button>
  </form>

</fieldset> 
<br/>
<br/>
