backup
node_modules
app/bower_components
dist
.tmp
.sass-cache
.DS_Store
**/.DS_Store
/src/main/.DS_Store
/public/images/sms-sprite-*.png
nbproject
manifest.mf
build.xml

.springBeans
.idea
.idea/*
*.iml
.classpath
.project
.settings/
target/
TODO.txt
*/node_modules

db/local_db.bin
src/main/webapp/public/*
src/main/webapp/components/*
src/main/webapp/404.html
src/main/webapp/favicon.ico
src/main/webapp/index.html
src/main/webapp/robots.txt
/SARASWATI-SHISHU-MANDIR.xlsx
/messages_v4_migration.xlsx

Runner.java
Temp.java
CDK_Global_Logo.png