<div data-ng-show="idea">
  <div class="media">
    <div class="media-left"></div>    
    <div class="media-body">
      <h4 class="media-heading">
        {{idea.title}} <span class="small">({{idea.category}})</span>
      </h4>
      <!-- date EEEE MMM dd, yyyy -->
      <div class="small text-warning" >{{idea.created | date : 'EEEE MMM d, y h:mm a'}}</div>
      <span ng-bind-html="idea.description"></span>
      <!-- <a data-ng-click="reply(idea)" class="alert-link">Reply</a> -->
      <button type="button" class="btn btn-xs btn-default" data-ng-click="reply(idea)" data-ng-hide="hideReply">Reply</button>
      <div data-ng-repeat="childIdea in idea.ideaList">
        <div data-cdk-idea-tree data-ng-model="childIdea"></div>
      </div>
    
    </div>
  </div>
</div>